{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "consistent",
  "trailingComma": "none"
}
